body {
     background: #f8f9fa;
     font-family: Open Sans, sans-serif;
    /* Needed for Bootstrap Scrollspy */
     position: relative;
}

/* Navbar */
.navbar {
     background-color: #563d7c;
}

/* Logo image */
.navbar-brand img {
     height: 50px;
     width: 50px;
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 12px;
    margin-right: 3px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 24px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .navbar-brand {
    font-size: 28px;
  }
}
